<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
    <label>
        Enter APR
    </label>
    
    <input type="text" name="the_user_number">
    
    <label>
        Enter number of years
    </label>
    
    <input type="text" name="the_user_number">
    
    <label>
        Enter principal
    </label>
    
    <input type="text" name="the_user_number">
    
  
    </div>
    
    <button>Calculate payment</button>
    
    <a href="https://omnicalc-params-andrearadi.c9users.io/payment/results?>" + :a_number </a>
    