<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
    
    
    <label>
        Number of years
    </label>
    
    <input type="text" name="the_user_number1">
    
    <label>
        Principal
    </label>
    
    <input type="text" name="the_user_number2">
    
    <label>
        APR
    </label>
    
    <input type="text" name="the_user_number3">
    
    
    
  
    </div>
    
    <button>Calculate payment</button>
    


<a href="https://omnicalc-params-andrearadi.c9users.io/payment/results?>" + :a_number </a>
    