<form action= "/random/new">

<h1> Random Number </h1>

<p> A random number between <%= @user_min %> and <%= @user_max %> is <%= @random_number %> </p>

<button>Back</button>

</form>

<a href="https://omnicalc-params-andrearadi.c9users.io/random/new>" + :a_number </a>
