<form action="/square/new">

<h1> Square Number</h1>

<p> the square of <%= @user_number %> is <%= @squared_number %> </p>


<button>Back</button>

</form>

<a href="https://omnicalc-params-andrearadi.c9users.io/square/new>" + :a_number </a>