<h1>Square Root</h1>

<form action="/square_root/results">
    <div>
    <label>
        Enter a number
    </label>
    
    <input type="text" name="the_user_number">
    
   <output= type="text" name= (["the_user_number]**0.5)>
   
   
    </div>
    
    <button>Calculate square</button>
    
    
    
</form>

<a href="https://omnicalc-params-andrearadi.c9users.io/square_root/results?>" + :a_number </a>