<form action="/square_root/new">

<h1> Square root </h1>

<p> the root of <%= @user_number %> is <%= @root %> </p>

<button>Back</button>

</form>

<a href="https://omnicalc-params-andrearadi.c9users.io/square_root/new>" + :a_number </a>
